{% extends 'usuarios/base.html'%}
{% block conteudo%}

    <form action="{% url 'listagem_usuarios' %}" method="post">
      {% csrf_token %}
      <div style="text-align: center;" class="container">
        <h1>cadastro de Usuários</h1>
        <label class="form-label">Nome: </label>
        <input name="nome" class="form-control-sm" type="text" placeholder="Digite seu nome">
        <label class="form-label">Email: </label>
        <input name="idade" class="form-control-sm" type="number" placeholder="Digite sua idade">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>

{% endblock%}
