@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #F2E0C9, #edb162 );
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(180, 96%, 11%, 0.674);

    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #025959;
    text-align: center;
    text-shadow: 1px 1px 2px #013a3a;
}

h2{
    color: #04BFBF;
}

p{
    text-align: justify;
}